<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alonelegion.workproject01">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".service.FssApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HelloActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DecorOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivateMasterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SmsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmittedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsloviyaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForFinanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForProcessedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnTransferredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmittedDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinanceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProcessedDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransferredDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FilterWorkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NavMainActivity"
            android:label="@string/title_activity_nav_main"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavOrdersActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>